body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: #000;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.dream-big p{
    padding-right: 10%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
}
#web-dev-exp{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
#full-stack-exp{
    border-left: 5px solid;
    border-image: linear-gradient(cyan , blue);
    border-image-slice: 1;
